In [ ]:
# Exercise 1

In [43]:
import pandas as pd
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

df = pd.read_csv('iris.csv', header=None ,names=column_names)
numeric_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [11]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [13]:
df.tail()

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [23]:
df.isnull()

         0      1      2      3      4
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [21]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

In [ ]:
Как загрузить CSV-файл в Pandas DataFrame?

Используя функцию pd.read_csv('filename.csv'), вы можете загрузить данные из CSV-файла в DataFrame.
Какую информацию предоставляет функция info() о датасете?

Она показывает количество записей, количество не-нулевых значений в каждом столбце, типы данных столбцов и объем памяти, занимаемый DataFrame.
Как можно выявить пропущенные значения в датасете?

С помощью df.isnull().sum(), которая покажет количество пропущенных значений в каждом столбце.

In [ ]:
# Exercise 2

In [45]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [85]:
# df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

df_numeric = df[numeric_columns].fillna(df[numeric_columns].median())

# df[numeric_columns] = df[numeric_columns].fillna(df[0]


print("\nПропущенные значения после обработки:")
print(df.isnull().sum())

Пропущенные значения после обработки:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [81]:
df[numeric_columns] = df[numeric_columns].ffill()

In [ ]:
Какую стратегию вы использовали для обработки пропущенных значений и почему?

Выбор стратегии зависит от природы данных и контекста задачи. Например, если количество пропущенных значений невелико, удаление строк может быть приемлемым. Если пропущенные данные существенны, заполнение средним или медианой может сохранить целостность данных.
Как заполнение пропущенных значений повлияло на датасет?

Заполнение может изменить распределение данных и повлиять на статистические свойства столбцов. Важно оценить влияние перед тем, как продолжать анализ.
Когда может быть более целесообразно удалить строки с пропущенными значениями, вместо их заполнения?

Когда количество пропущенных значений невелико относительно общего объема данных или когда заполнение может привести к искажению данных.

In [ ]:
Exercise 3

In [91]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_numeric)

In [89]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# df_standardized = scaler.fit_transform(df_numeric)

In [95]:
df_encoded = pd.get_dummies(df['species'])

In [111]:
df['sepal_length_binned'] = pd.cut(df['sepal_length'], bins=3, labels=['Short', 'Medium', 'Long'])
print(df[['sepal_length', 'sepal_length_binned']].tail(10))

     sepal_length sepal_length_binned
140           6.7              Medium
141           6.9                Long
142           5.8              Medium
143           6.8                Long
144           6.7              Medium
145           6.7              Medium
146           6.3              Medium
147           6.5              Medium
148           6.2              Medium
149           5.9              Medium

In [101]:
Questions:

В чем разница между нормализацией и стандартизацией?

Нормализация (Min-Max масштабирование): Преобразует данные в заданный диапазон (обычно от 0 до 1).
Стандартизация (Z-score): Преобразует данные так, что они имеют среднее 0 и стандартное отклонение 1.
Как one-hot кодирование трансформирует категориальные переменные?

Преобразует категориальные переменные в набор бинарных столбцов, где каждый столбец соответствует одной категории, и значение 1 указывает на принадлежность к этой категории.
Почему может потребоваться бининг непрерывных переменных в категории?

Для упрощения модели, уменьшения чувствительности к выбросам или для использования алгоритмов, требующих категориальных данных.

In [ ]:
Exercise 4

In [113]:
df['petal_area'] = df['petal_length'] * df['petal_width']

In [ ]:
# Thre is no any datasets that related with datetime!

In [115]:
df['petal_ratio'] = df['petal_length'] / df['petal_width']

In [ ]:
# Questions:

# Какие новые признаки вы создали и почему?
Площадь лепестков для удобной работы и анализа площади лепестков в дальнейшем
# Новые признаки создаются для того, чтобы предоставить модели дополнительную информацию, которая может улучшить ее способность различать классы или предсказывать целевую переменную.
# Как новые признаки улучшили датасет?

# Они могут повысить точность модели, обнаружить новые зависимости и улучшить общее качество предсказаний.
# Как признаки, основанные на датах, могут быть полезны в датасете?

# Они позволяют учитывать сезонные изменения, тренды с течением времени и другие временные зависимости.

In [ ]:
Exercise 5

In [117]:
duplicates = df.duplicated().sum()

In [119]:
df_cleaned = df.drop_duplicates()

In [ ]:
# 2

In [121]:
from scipy import stats
import numpy as np
df_no_outliers = df[(np.abs(stats.zscore(df_numeric)) < 3).all(axis=1)]

In [123]:
Q1 = df_numeric.quantile(0.25)
Q3 = df_numeric.quantile(0.75)
IQR = Q3 - Q1
df_no_outliers = df[~((df_numeric < (Q1 - 1.5 * IQR)) | (df_numeric > (Q3 + 1.5 * IQR))).any(axis=1)]

In [125]:
df['species'] = df['species'].str.lower()

In [ ]:
Как вы идентифицировали и обработали дубликаты строк в датасете?

С помощью функции df.duplicated(), которая выявляет дубликаты. Затем удаление их с помощью drop_duplicates().
Какой метод вы использовали для обнаружения и удаления выбросов и почему?

В зависимости от данных можно использовать метод Z-score для нормального распределения или метод IQR для более устойчивого подхода.
Как вы устранили несоответствия в категориальных данных?

Путем стандартизации текста (например, приведение к нижнему регистру) и объединения схожих категорий.

In [ ]:
Exercise 6

In [165]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='drop'  # Добавлено
)

In [173]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Загрузка данных
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv('iris.csv', header=None, names=column_names)

# Биннинг признака 'sepal_length'
df['sepal_length_binned'] = pd.cut(df['sepal_length'], bins=3, labels=['Short', 'Medium', 'Long'])

# Преобразование столбца 'species' в числовую форму
df['species'] = df['species'].astype('category').cat.codes

# Определение признаков и целевой переменной
X = df.drop('species', axis=1)
y = df['species']

# Проверка наличия дополнительных столбцов
print("Columns in X:")
print(X.columns)

# Разделение данных на тренировочный и тестовый наборы
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

# Определение числовых и категориальных признаков
numeric_features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
categorical_features = ['sepal_length_binned']

# Проверка типов данных
print("Data types in X_train:")
print(X_train.dtypes)

# Создание трансформеров для числовых и категориальных данных
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder())
])

# Объединение трансформеров с помощью ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='drop'  # Отбрасываем неуказанные столбцы
)

# Создание конвейера с предварительной обработкой и моделью
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression())
])

# Обучение модели
pipeline.fit(X_train, y_train)

# Предсказание на тестовых данных
y_pred = pipeline.predict(X_test)

# Оценка модели
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Columns in X:
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'sepal_length_binned'],
      dtype='object')
Data types in X_train:
sepal_length            float64
sepal_width             float64
petal_length            float64
petal_width             float64
sepal_length_binned    category
dtype: object
Accuracy: 0.93

In [175]:
species_mapping = {0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}

In [177]:
# Создаем DataFrame с предсказанными и реальными значениями
results = pd.DataFrame({'Predicted': y_pred, 'Actual': y_test})

# Преобразуем числовые коды обратно в названия видов
results['Predicted_Species'] = results['Predicted'].map(species_mapping)
results['Actual_Species'] = results['Actual'].map(species_mapping)

print(results.head())

     Predicted  Actual Predicted_Species   Actual_Species
38           0       0       Iris-setosa      Iris-setosa
127          2       2    Iris-virginica   Iris-virginica
57           1       1   Iris-versicolor  Iris-versicolor
93           1       1   Iris-versicolor  Iris-versicolor
42           0       0       Iris-setosa      Iris-setosa

In [179]:
# Пример новых данных
new_samples = pd.DataFrame({
    'sepal_length': [5.5, 6.5],
    'sepal_width': [2.5, 3.0],
    'petal_length': [4.0, 5.5],
    'petal_width': [1.3, 2.0]
})

# Применяем биннинг к новому признаку
new_samples['sepal_length_binned'] = pd.cut(new_samples['sepal_length'], bins=3, labels=['Short', 'Medium', 'Long'])

# Предсказываем класс для новых образцов
new_predictions = pipeline.predict(new_samples)
new_samples['Predicted_Species'] = [species_mapping[pred] for pred in new_predictions]

print(new_samples)

   sepal_length  sepal_width  petal_length  petal_width sepal_length_binned  \
0           5.5          2.5           4.0          1.3               Short
1           6.5          3.0           5.5          2.0                Long

  Predicted_Species
0   Iris-versicolor
1    Iris-virginica

In [ ]:
# Каковы преимущества использования конвейера предварительной обработки?

# Автоматизация: Автоматизирует шаги предварительной обработки, делая код более чистым и поддерживаемым.
# Последовательность: Обеспечивает единообразную обработку тренировочных и тестовых данных, предотвращая утечки данных (data leakage).
# Удобство использования: Позволяет легко интегрировать разные этапы предварительной обработки и моделирования.
# Как конвейер обеспечивает согласованность между преобразованиями тренировочных и тестовых данных?

# Конвейер обучается (fit) только на тренировочных данных и затем применяет (transform) те же преобразования к тестовым данным. Это предотвращает утечку данных и гарантирует, что тестовые данные обрабатываются одинаково.
# Как можно расширить конвейер для включения дополнительных шагов предварительной обработки?

# Можно добавить дополнительные шаги в конвейер, такие как обнаружение выбросов, биннинг, создание новых признаков, снижение размерности и т. д., просто добавив их в Pipeline или ColumnTransformer.